body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.accordion-item {
  padding: 0;
  border: solid 1px;
  width: 400px;
  margin-left: 200px;
}

h1 {
  padding: 1em;
  border: solid 1px #ccc;
}

p {
  display: none;
  padding: 1em;
}

.accordion-item.is-open p {
  display: block;
}